[class*="copyrights-pane"] {
    display: none !important;
}

.balloon {
    position: absolute;
    @include adaptive-value("right", 262, 20, 1);
    @include adaptive-value("top", 13, 50, 1);
    transition: all 0.3s ease 0s;
    &._hidden {
        @include adaptive-value("height", 90, 40, 1);
        right: 10px !important;
        top: 10px !important;
        overflow: hidden;

        .balloon__body {
            @include adaptive-value("width", 420, 210, 1);
            @include adaptive-value('padding-top',24, 10, 1);
            
        }

        .balloon__close {
            & :last-child {
                transform: translate(0, -50%) rotate(90deg);
            }
        }
    }

    // .balloon__container

    // .balloon__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include adaptive-value("padding-top", 65, 20, 1);
        @include adaptive-value("padding-bottom", 17, 8, 1);
        @include adaptive-value("padding-left", 69, 20, 1);
        @include adaptive-value("padding-right", 40, 20, 1);
        width: 100%;
        @include adaptive-value("border-radius", 20, 10, 1);
        background: #ffffff;
        @include adaptive-value("width", 540, 320, 1);
        position: relative;
    }

    // .balloon__close

    &__close {
        cursor: pointer;
        transition: all 0.3s ease 0s;

        position: absolute;
        @include adaptive-value("right", 30, 10, 1);
        @include adaptive-value("top", 30, 10, 1);

        @include adaptive-value("width", 30, 20, 1);
        @include adaptive-value("height", 30, 20, 1);

        span {
            transition: all 0.3s ease 0s;

            pointer-events: none;
            position: absolute;
            width: 100%;
            @include adaptive-value("height", 2, 1, 1);
            background-color: #000;
        }

        & :first-child {
            top: 50%;
            transform: translate(0, -50%);
        }
        & :last-child {
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    // .balloon__title

    &__title {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        line-height: 120%;
        text-align: center;
        color: #000000;
        @include adaptive-value("margin-bottom", 35, 19, 1);
        @include adaptive-value("font-size", 35, 18, 1);
    }

    // .balloon__item

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include adaptive-value("margin-bottom", 26, 15, 1);

        img {
            @include adaptive-value("margin-right", 20, 5, 1);
        }
        // .balloon__item-text

        &-text {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            @include adaptive-value("font-size", 25, 16, 1);
            line-height: 115%;
            text-align: center;
            color: #000000;
            text-align: left;
            // .balloon__item-text-marked

            mark{
                font-weight: 700;
            }
            &-marked {
                font-weight: 700;
            }
        }
    }
}
